<div class="container">
  <types-trick-button (click)="clickShape(shapeSquare)">
    clickShape(shapeSquare)
  </types-trick-button>
  <types-trick-button (click)="clickShape(shapeCircle)">
    clickShape(shapeCircle)
  </types-trick-button>
  <types-trick-button (click)="clickShape(shapeRectangle)">
    clickShape(shapeRectangle)
  </types-trick-button>
  <types-trick-button (click)="assertShapeAsCircle(shapeCircle)">
    assertShapeAsCircle(shapeCircle)
  </types-trick-button>
  <types-trick-button (click)="assertShapeAsCircle(shapeSquare)">
    assertShapeAsCircle(shapeSquare)
  </types-trick-button>
</div>
